.simpsons {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    background: peachpuff;
    text-transform: uppercase;
}
img {
    width: 200px;
}
.simps {
    margin: 20px;
    background: linen;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}
.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(47,255,255,0.81);
    width: 600px;
    margin: 40px;
}

.product-title {
    padding-left: 40px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
.product-image {
    width: 400px
}